<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relinquish Asset Credential</title>
    <th:block th:replace="~{fragments/email-styles :: common-email-styles}"></th:block>
</head>
<body>
<div class="container">
    <div class="header green">
        <h2>Relinquish Asset Credential Notification</h2>
    </div>
    <div class="content">
        <p>Dear <strong th:text="${adminName}"></strong>,</p>
        <p>We would like to inform you that <strong th:text="${ownerName}"></strong> has relinquished the ownership of asset <strong th:text="${assetName}"></strong>.</p>
    </div>
    <div class="footer">
        <p>&copy; 2026 DAM Application. All rights reserved.</p>
    </div>
</div>
</body>
</html>